<div class="container">
  <button *ngIf="prediction?.length > 0" class="close-btn" (click)="stopAction()">
    <span>&times;</span>
  </button>
  <div class="first-half" #webcamContainer>
    <button
      class="btn"
      *ngIf="showStartBtn"
      (click)="startAction(webcamContainer)"
    >
      START
    </button>
    <img class="loader" *ngIf="loading" src="assets/loader.gif" alt="" />
  </div>

  <div class="result" *ngFor="let result of prediction">
    <p [class]="result.className" *ngIf="result.probability > 0.85">
      {{ result.className === "without-mask" ? "No Mask" : "Mask" }}
    </p>
    <p class="no-result">
      Please steady your face
    </p>
  </div>

  <!-- <div class="result" >
    <p class="with-mask" >
      mask
    </p>
    <p class="no-result">
      Please steady your face
    </p>
  </div> -->

  <div class="second-half">
    <h3>Machine Learning<br /><span>Detect face with/without mask</span></h3>
    <p>
      This is an experiment on Machine Learning in browser with the help of Teachable Machines with Google.
    </p>
    <br>
    <a href="https://teachablemachine.withgoogle.com/">Teachable Machine</a><br><br>
    Git repo of this example: <a href="https://github.com/jobinskumar/ML-mask-detection">@jobinskumar/ML-mask-detection</a>
  </div>
</div>
